# Final Assignment in Tools for Science course

# Data Science Tools and EcoSystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objective:**
List popular languages for Data Science:
* Python
* R
* Julia
* Scala
* Java

## Author
Muthupandi